<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
   <appSettings>
    <add key="WebUserID" value="66" />
    <!-- number of days old the oldest job should be for jobs just out -->
    <!-- ***** SHOULD BE 60 DAYS, BUT SET TO 180 SO WE GET DATA FROM DEV DB -->
    <!--<add key="JobsJustOutMaxDays" value="240"/>-->
    <add key="CustomTimeNExpenseClients" value="27527,27569,27606,27675,27694,27704,11394,27606,27712,27679,27620,27709,27693,27714,27720,27721,27716" />
    <add key="TimesheetClientID" value="27580,27723,27724,27719,27545,27658,27492,27510,27517,27533,27450,27575,27600,27622" />
    <add key="DirectEntryClients" value="27722,27603,27621,27628,27615,27623,27379,27595,27597,27586,27526,27511,27488,27477,27489,27409,27445,27347,27366,27365,27368,27367,27362,27681,27361,27364,27363,27378,27379,27383,27384,27385,27669,27386,27387,27388,27561,27389,27394,27395,27410,27403,27404,27414,27416,27423,27428,27429,27438,27469,27476,27497,27499,26867,27515,11486,27529,27631,27630,27678,27705,27507,27715" />
    <add key="ContactusUrl" value="https://myheadway.com/account/contactus.aspx" />
    <add key="MailServer" value="colo-mgmt-04.headwaycorp.net" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPServer" value="COLO-EMAIL-04" />
    <add key="SupportEmail" value="donotreply@headwaywfs.com" />
    <add key="MailPassword" value="" />
    <add key="ForgotPasswordUrl" value="~/account/login.aspx?forgotpw=y" />
    <add key="ProductionUrl" value="myheadway.com" />
    <add key="DevelopmentUrl" value="dev-colowebtest" />
    <add key="DevelopmentEmail" value="" />
    <add key="AuditCCEmail" value="atandukar@headwaycorp.com" />
    <add key="TimeExp_DevelopmentEmails" value="" />
    <add key="TimeExp_BCCEmails" value="" />
    <add key="TimeExp_Tester" value="" />
    <add key="PasswordLength" value="6" />
    <add key="MaxHoursPerPunch" value="18" />
    <add key="ReportName_W2" value="~\employee\crystalreports\W2.rpt" />
    <add key="EmploymentCodes" value="HF2009" />
    <add key="ChecksPDFLoc" value="\\colo-fs-03\Files\web02\paystubs\" />
    <add key="OnboardingCompleteMessage" value="PLEASE PRINT THIS SCREEN AND BRING ON FIRST DAY OF EMPLOYMENT" />
    <add key="TSFileUploadSize" value="30" />
    <!-- Max file size: 30MB-->
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="LoadEJResourcesFromAssembly" value="false" />
    <add key="EJResources" value="jsrender:true;jqueryeasing:true;themes:false;" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
   
    <!-- Production  -->
    <!--<add name="IntegrateProd" connectionString="Password=RAC123hi;Persist Security Info=True;User ID=DotNetApplications;Initial Catalog=IntegrateProd;Data Source=cloud-db-01" providerName="System.Data.SqlClient" />
  <add name="RMXProd" connectionString="Password=netapp!1#;Persist Security Info=True;User ID=DotNetApplications;Initial Catalog=RMXProd;Data Source=cloud-db-01" providerName="System.Data.SqlClient" />
  <remove name="LocalSqlServer"/>
  <add name="LocalSqlServer" connectionString="Password=netapp!1#;Persist Security Info=True;User ID=DotNetApplications;Initial Catalog=appservicesdb;Data Source=cloud-db-01" providerName="System.Data.SqlClient" />-->
    <add name="RmxProd" connectionString="Data Source=CV-PROGRESSIVE-\GOLDMINE;Initial Catalog=FuelDashApp;Persist Security Info=True" providerName="System.Data.SqlClient" />
   
    <!--<add name="RMXProd" connectionString="Data Source=192.168.3.24;Initial Catalog=RMXProd;Persist Security Info=True;User ID=sa;Password=RAC123hi" providerName="System.Data.SqlClient" />
    <add name="IntegrateProd" connectionString="Data Source=192.168.3.24;Initial Catalog=IntegrateProd;Persist Security Info=True;User ID=sa;Password=RAC123hi" providerName="System.Data.SqlClient" />-->
  
    
  </connectionStrings>
  </configuration>
